<ol>
	<li id="mn_index_file"><a href="/garlic-player/docs/essentials/index-file">SMIL Index</a></li>
	<li id="mn_media_objects"><a href="/garlic-player/docs/essentials/media-objects">Media objects</a></li>
	<li id="mn_containers"><a href="/garlic-player/docs/essentials/containers">Containers</a></li>
	<li id="mn_screen_layout"><a href="/garlic-player/docs/essentials/screen-layout">Screen Layout</a></li>
	<li id="mn_fetch_content"><a href="/garlic-player/docs/essentials/fetch-content">Fetch Content</a></li>
	<li id="mn_caching"><a href="/garlic-player/docs/essentials/caching">Caching</a></li>
	<li id="mn_triggers"><a href="/garlic-player/docs/essentials/triggers">Triggers</a></li>
	<li id="mn_conditional_play"><a href="/garlic-player/docs/essentials/conditional-play">Conditional Play</a></li>
	<li id="mn_logs_reports"><a href="/garlic-player/docs/essentials/logs-reports">Logs and Reports</a></li>
	<li id="mn_maintenance_tasks"><a href="/garlic-player/docs/essentials/maintenance-tasks">Maintenance tasks</a></li>
</ol>
