<nav class="sub_navigation">
    <ul>
       {{- $page := .page }}
       {{- $parentMenu := .parent }}

        <li class="logo">
            <a href="{{ $parentMenu.URL }}"><img src="/images/logos/garlic-{{ $parentMenu.Identifier }}.svg" alt="Logo for garlic-{{ $parentMenu.Identifier }}" /></a>
        </li>

        {{- /* Loop through the provided menu entries. */}}
        {{- range .menuEntries }}
            {{- $attrs := dict "href" .URL }}

            {{- /* Add 'active' class if the menu item matches the current page. */}}
            {{- if $page.IsMenuCurrent .Menu . }}
                {{- $attrs = merge $attrs (dict "class" "active" "aria-current" "page") }}
            {{- end }}

            {{- $name := .Name }}
            {{- with .Identifier }}
                {{- with T . }}
                    {{- $name = . }}
                {{- end }}
            {{- end }}

            <li>
                <a
						{{- range $k, $v := $attrs }}
						{{- with $v }}
						{{- printf " %s=%q" $k $v | safeHTMLAttr }}
                        {{- end }}
                    {{- end -}}
                >{{ $name }}</a>
            </li>
        {{- end }}
    </ul>
</nav>