<nav class="sub_navigation">
	<ul>
		<li class="logo">
			<a href="/garlic-launcher/"><img src="/images/logos/garlic-launcher.svg" alt="Logo for garlic-launcher" /></a>
		</li>
		<li id="mn_features">
			<a href="/garlic-launcher/features/" title="Android launcher features">Features</a>
		</li>
		<li id="mn_downloads">
			<a href="/garlic-launcher/download/" title="Download garlic-launcher for Android">Download</a>
		</li>
		<li id="mn_faq">
			<a href="/garlic-launcher/docs/" title="Garlic-launcher Documentation">Docs</a>
		</li>
	</ul>
</nav>
