<nav class="sub_navigation">
	<ul>
		<li class="logo">
			<a href="/garlic-hub/"><img src="/images/logos/garlic-hub.svg" alt="Logo for garlic-hub" /></a>
		</li>
		<li id="mn_features">
			<a href="/garlic-hub/features/" title="Features of Garlic-Hub">Features</a>
		</li>
		<li id="mn_downloads">
			<a href="/garlic-hub/installation/" title="Downloads and Install Garlic-Hub - Digital Signage CMS">Installation</a>
		</li>
		<li id="mn_showcase">
			<a href="/garlic-hub/showcase/" title="Photos and Screenshots">Showcase</a>
		</li>
<!--		<li id="mn_docs">
			<a href="/garlic-hub/docs/" title="Garlic-Hub Documentation">Docs</a>
		</li>
-->	</ul>
</nav>
