<nav class="sub_navigation">
	<ul>
		<li class="logo">
			<a href="/garlic-player/"><img src="/images/logos/garlic-player.svg" alt="Logo for garlic-player" /></a>
		</li>
		{{- $curr := .RelPermalink -}}
		<li id="mn_features" class="{{ if hasPrefix $curr "/garlic-player/features/" }}active{{ end }}">
			<a href="/garlic-player/features/" title="Features og Garlic Digital Signage Player">Features</a>
		</li>
		<li id="mn_downloads" class="{{ if hasPrefix $curr "/garlic-player/downloads/" }}active{{ end }}">
			<a href="/garlic-player/downloads/" title="Downloads Garlic Digital Signage Player">Downloads</a>
		</li>
		<li id="mn_showcase" class="{{ if hasPrefix $curr "/garlic-player/showcase/" }}active{{ end }}">
			<a href="/garlic-player/showcase/" title="Photos and Screenshots">Showcase</a>
		</li>
		<li id="mn_docs" class="{{ if hasPrefix $curr "/garlic-player/docs/" }}active{{ end }}">
			<a href="/garlic-player/docs/" title="Garlic-player and SMIL Documentation">Docs</a>
		</li>
	</ul>
</nav>
