<section>
	<ul class="the_apps">
		<li>
			<a href="./garlic-player/"
			   title="Digital Signage Media Player">
				<div class="logo">
					<img src="/images/logos/garlic-player.svg"
						 alt="Logo for garlic-player"/>
				</div>
				<div class="subtitle">Digital Signage Player based on SMIL</div>
			</a>
		</li>
		<li>
			<a href="./garlic-hub/"
			   title="Digital Signage Management Software">
				<div class="logo">
					<img src="/images/logos/garlic-hub.svg"
						 alt="Logo for garlic-hub"/>
				</div>
				<div class="subtitle">Digital Signage Device & Content Management</div>
			</a>
		</li>
		<li>
			<a href="./garlic-launcher/"
			   title="Android Launcher">
				<div class="logo">
					<img src="/images/logos/garlic-launcher.svg"
						 alt="Logo for garlic-launcher"/>
				</div>
				<div class="subtitle">Android Launcher for Signage Player</div>
			</a>
		</li>
		<li>
			<a href="./garlic-proxy/"
			   title="Digital Signage Proxy">
				<div class="logo">
					<img src="/images/logos/garlic-proxy.svg"
						 alt="Logo for garlic-proxy"/>
				</div>
				<div class="subtitle">Proxy Solution for SMIL Player</div>
			</a>
		</li>
	</ul>
</section>