<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
	<head>
		{{ partial "head.html" . }}
	</head>
	<body>
		<header>
			{{ partial "header.html" . }}
		</header>
		<div id="content_section">
			{{- if strings.HasPrefix .File.Path "garlic-player/docs/essentials/" }}
				{{ partial "player-essentials-navigation.html" . }}
			{{- end }}
			{{- if strings.HasPrefix .File.Path "garlic-player/downloads/" }}
				{{ partial "player-downloads-navigation.html" . }}
			{{- end }}
			<main>
				{{- partial "breadcrumb.html" . -}}
				<h1>{{ .Title }}</h1>
				{{ block "main" . }}{{ end }}
			</main>
			{{- if and (in .Params.customJS "toc") (fileExists "assets/js/toc.js") }}
			<aside>
			  <div id="toc"><strong>Table of Contents</strong></div>
			</aside>
			{{- end }}
		</div>
	<footer>
		{{ partial "footer.html" . }}
	</footer>
	{{ partial "head/js.html" . }}
	</body>
</html>
