<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body>
  <header>
    {{ partial "header.html" . }}

    {{- if eq .Section "garlic-player" -}}
      {{- partial "subnav-garlic-player.html" . -}}
     {{- end -}}

  </header>
  <div id="content_section">

    <main>
		{{- partial "breadcrumb.html" . -}}
	<h1>{{ .Title }}</h1>
    {{ block "main" . }}{{ end }}
    </main>
  </div>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>
</html>
